* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "League Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
  --main-padding: 80px;
  --main-transition: 0.3s;
}

::selection {
  background-color: rgb(8, 129, 120);
  color: white;
}

h1 {
  font-size: 60px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 55px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 25px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 16px;
}

p {
  font-size: 20px;
  color: #465b52;
}

a {
  text-decoration: none;
}

.container {
  padding: 0 var(--main-padding);
  margin: auto;
}

/* Large Screens */
@media (min-width: 1200px) { 
  .container {
    max-width: 1900px;
  }
}

@media (max-width: 431px) { 
  .container {
    width: 100%;
    padding: 0px 40px;
  }
}

/* Start Index.html */

/* Start Landing Page */

/* Start Header */

.landing-page header {
  padding: 20px 0;
  height: 13vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #E3E6F3;
  box-shadow: 0px -2px 20px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

@media (max-width: 431px) {   
  .landing-page header {
    width: 430px;
  }
}

@media (max-width: 391px) {   
  .landing-page header {
    width: 360px;
  }
}

.landing-page header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.landing-page header .header-links .links {
  list-style: none;
  display: flex;
  position: relative;
}

@media (max-width: 1100px) { 
  .landing-page header .header-links .links {
    flex-direction: column;
    background-color: white;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    justify-content: flex-start;
    align-items: flex-start;
    transition: 0.3s;
  }

  .landing-page header .header-links .links li:first-child {
    margin-top: 50px;
  }

  .landing-page header .header-links .links li {
    margin-bottom: 50px;
    margin-left: 15px;
    width: 100%;
  }

  .landing-page header .header-links .links li a {
    display: inline-block;
    width: 100%;
  }

  .mobile {
    font-size: 25px;
    cursor: pointer;
  }
}

@media (max-width: 431px) {   
  .landing-page header .header-links .links {
    height: 101%;
  }
}

.landing-page header .header-links .links a.li-signup {
  position: relative;
}

.landing-page header .header-links .links span {
  position: absolute;
  top: -22px;
  right: 40px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #088178;
  color: white;
  padding: 3px 0 0;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1024px) {
  .landing-page header .header-links .links span {
    right: 110px !important;
    top: 475px !important;
  }
}

.landing-page header .header-links .links li {
  padding: 0 20px;
}

@media (max-width: 1100px) { 
  .landing-page header .header-links .links li {
    margin-bottom: 50px;
    margin-left: 15px;
    width: 100%;
  }
}

@media (max-width: 1100px) { 
  .landing-page header .header-links .links li:first-child {
    margin-top: 50px;
  }
}

.landing-page header .header-links .links li:last-child {
  padding-right: 0;
}

.mobile:hover {
  color: #088178;
  transition: 0.3s;
}

@media (max-width: 1100px) { 
  .mobile {
    font-size: 25px;
    cursor: pointer;
  }
}

@media (min-width: 1101px) {
  .mobile {
    display: none;
  }
}

.landing-page header .header-links .links li a {
  font-size: 22px;
  font-weight: 600;
  color: #1a1a1a;
  position: relative;
  transition: var(--main-transition);
}

.landing-page header .header-links .links li a.active,
.landing-page header .header-links .links li a:hover {
  color: #088178;
}

.landing-page header .header-links .links li a.active::after,
.landing-page header .header-links .links li a:hover::after {
  content: "";
  position: absolute;
  top: 26.6px;
  left: 0;
  background-color: #088178;
  width: 50%;
  height: 3px;
}

@media (max-width: 1100px) {
  .landing-page header .header-links .links li a.active::after,
  .landing-page header .header-links .links li a:hover::after {
    width: 15%;
  }
}

/* End Header */

/* Start Landing Page Content */

.landing-page .landing-content {
  height: 87vh;
  background-image: url(../Images/hero4.png);
  background-position: top 30% right 0;
  background-size: cover;
}

@media (max-width: 1100px) { 
  .landing-page .landing-content {
    background-position: top 30% right 30%;
  }
}

@media (max-width: 870px) { 
  .landing-page .landing-content {
    background-image: none;
    background-color: #E3E6F3;
  }
}

@media (max-width: 431px) { 
  .landing-page .landing-content {
    width: 430px;
  }
}

@media (max-width: 391px) { 
  .landing-page .landing-content {
    width: 360px;
  }
}

.landing-page .landing-content .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 91.41px;
}

@media (max-width: 431px) { 
  .landing-page .landing-content .container {
    background-color: #E3E6F3;
    align-items: center;
    width: 430px;
  }
}

@media (max-width: 391px) { 
  .landing-page .landing-content .container {
    width: 360px;
  }
}

.landing-page .landing-content h4 {
  margin-bottom: 15px;
}

.landing-page .landing-content h2 {
  margin: 0;
}

.landing-page .landing-content h1 {
  color: #088178;
  margin: 0;
}

.landing-page .landing-content p {
  margin: 10px 0 20px;
}

@media (max-width: 606px) { 
  .landing-page .landing-content .container h2 {
    font-size: 40px;
  }

  .landing-page .landing-content .container h1 {
    font-size: 47px;
  }

  .landing-page .landing-content .container p {
    font-size: 18px;
  }
}

@media (max-width: 431px) {
  .landing-page .landing-content .container h4 {
    font-size: 23px;
  }
  
  .landing-page .landing-content .container h2 {
    font-size: 30px;
  }

  .landing-page .landing-content .container h1 {
    font-size: 37px;
  }

  .landing-page .landing-content .container p {
    font-size: 14px;
  }
}

.landing-page .landing-content button {
  background-image: url(../Images/button.png);
  background-color: transparent;
  background-size: cover;
  border: none;
  width: 230px;
  height: 55px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  color: #088178;
}

/* End Landing Page Content */

/* End Landing Page */

/* Start Features */

.features {
  padding: var(--main-padding) 0;
}

@media (max-width: 431px) {
  .features {
    width: 430px;
  }
}

@media (max-width: 391px) {
  .features {
    width: 360px;
  }
}

.features .container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

@media ((min-width: 945px) and (max-width: 1145px)) {
  .features .container {
    justify-content: space-evenly;
  }
}

@media (max-width: 431px) {
  .features .container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 80px;
  }
}

.features .container .feature-box {
  width: 193.6px;
  border: 1px solid #cce7d0;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: var(--main-transition);
}

@media (max-width: 1300px) {
  .features .container .feature-box {
    margin: auto;
    margin-bottom: 15px;
    width: 200px;
  }
}

@media (max-width: 768px) {
  .features .container .feature-box img {
    width: 100%;
  }
}

@media (max-width: 431px) {
  .features .container .feature-box {
    margin-left: 0px;
    width: 100%;
  }
}

.features .container .feature-box:hover {
  box-shadow: 15px 20px 40px rgba(0, 0, 0, 0.1);
}

.features .container .feature-box h6 {
  padding: 10px;
  width: fit-content;
  border-radius: 5px;
  margin: 10px auto;
}

@media (max-width: 431px) {
  .features .container .feature-box h6 {
    font-size: 20px;
  }
}

.features .container .feature-box:first-child h6 {
  background-color: #89D8E1;
  color: #ce318c;
}

.features .container .feature-box:nth-child(2) h6 {
  background-color: #E289BD;
  color: #008493;
}

.features .container .feature-box:nth-child(3) h6 {
  background-color: #B8DD7F;
  color: #056bab;
}

.features .container .feature-box:nth-child(4) h6 {
  background-color: #89BFE1;
  color: #548d00;
}

.features .container .feature-box:nth-child(5) h6 {
  background-color: #A28FDA;
  color: #a83800;
}

.features .container .feature-box:last-child h6 {
  background-color: #E1A789;
  color: #311979;
}

/* End Features */

/* Start New Arrivals */
/* Start Featured Products */

.featured-products {
  padding: var(--main-padding) 0;
}

@media (max-width: 431px) {
  .featured-products {
    width: 430px;
  }
}

@media (max-width: 391px) {
  .featured-products {
    width: 360px;
  }
}

.featured-products h2,
.featured-products > p {
  text-align: center;
}

.featured-products > p {
  margin-bottom: 60px;
  margin-top: 10px;
}

.featured-products .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 1024px) {
  .featured-products .container {
    justify-content: space-evenly;
  }
}

@media (max-width: 431px) {
  .featured-products .container {
    width: 100%;
  }
}

.featured-products .container .product-box {
  padding: 15px;
  border: 1px solid #cce7d0;
  border-radius: 30px;
  width: 23%;
  margin-bottom: 35px;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: var(--main-transition);
}

@media (max-width: 1024px) {
  .featured-products .container .product-box {
    width: 30.66666667%;
  }
}

@media (max-width: 768px) {
  .featured-products .container .product-box {
    width: 46%;
  }
}

@media (max-width: 590px) {
  .featured-products .container .product-box {
    width: 100%;
  }
}

.featured-products .container .product-box:hover {
  box-shadow: 15px 20px 40px rgba(0, 0, 0, 0.1);
}

.featured-products .container .product-box img {
  width: 100%;
  border-radius: 25px;
}

.featured-products .container .product-box p {
  margin-bottom: 5px;
}

.featured-products .container .product-box .details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.featured-products .container .product-box .details .rating {
  color: #ffc107;
  font-size: 15px;
}

.featured-products .container .product-box .details .rating-price .price {
  font-size: 22px;
  font-weight: bold;
  margin-top: 5px;
  color: #088178;
}

.featured-products .container .product-box .details .cart i {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  padding: 2px 2px 0 0;
  background-color: #F0F0F0;
  color: #088178;
  font-size: 25px;
  cursor: pointer;
  transition: var(--main-transition);
}

.featured-products .container .product-box .details .cart:hover i {
  background-color: #088178;
  color: #F0F0F0;
}

/* End Featured Products */
/* End New Arrivals */

/* Start Repair Services */

.repair-services {
  background-image: url(../Images/Banner/b2.jpg);
  background-size: cover;
  padding: var(--main-padding) 0;
  text-align: center;
}

@media (max-width: 431px) {
  .repair-services {
    width: 430px;
  }
}

@media (max-width: 391px) {
  .repair-services {
    width: 360px;
  }
}

.repair-services p {
  color: white;
  font-weight: bold;
  font-size: 25px;
}

.repair-services h2 {
  margin: 20px 0;
  color: white;
}

@media (max-width: 1024px) {
  .repair-services h2 {
    font-size: 47px;
  }
}

@media (max-width: 768px) {
  .repair-services h2 {
    font-size: 33px;
  }
}

@media (max-width: 431px) {
  .repair-services h2 {
    font-size: 28px;
  }
}

.repair-services h2 span {
  color: red;
}

.repair-services button {
  padding: 15px 35px;
  border-radius: 7px;
  background-color: white;
  border: none;
  outline: none;
  transition: var(--main-transition);
  cursor: pointer;
}

@media (max-width: 768px) {
  .repair-services button {
    padding: 15px 25px;
  }
}

.repair-services button:hover {
  background-color: #088178;
}

.repair-services button a {
  color: #1a1a1a;
  font-size: 20px;
  font-weight: 600;
  transition: var(--main-transition);
}

.repair-services button:hover a {
  color: white;
}

/* End Repair Services */

/* Start Banner 1 */

.banner {
  padding-bottom: 30px;
}

.banner .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 431px) {
  .banner .container {
    padding: 0px 30px;
    width: 100%;
  }
}

.banner .container .box-one {
  background-image: url(../Images/Banner/b17.jpg);
  background-position: 70%;
}

.banner .container .box-two {
  background-image: url(../Images/Banner/b10.jpg);
}

.banner .container .box-one,
.banner .container .box-two {
  width: 49%;
  height: 50vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 30px;
}

@media (max-width: 768px) {
  .banner .container .box-one, 
  .banner .container .box-two {
    width: 100%;
  }

  .banner .container .box-one {
    margin-bottom: 30px;
  }
}

.banner .container .box-one p:first-of-type,
.banner .container .box-two p:first-of-type {
  color: rgba(255, 255, 255, 0.6);
  font-size: 25px;
}

.banner .container .box-one h2,
.banner .container .box-two h2 {
  color: white;
  font-size: 40px;
}

.banner .container .box-one p:last-of-type,
.banner .container .box-two p:last-of-type {
  color: white;
  font-size: 17px;
  margin-bottom: 15px;
}

.banner .container .box-one button,
.banner .container .box-two button {
  padding: 15px 35px;
  border-radius: 7px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  outline: none;
  transition: var(--main-transition);
  cursor: pointer;
  font-weight: 900;
}

.banner .container .box-one:hover button,
.banner .container .box-two:hover button {
  background-color: #088178;
  border: 2px solid #088178;
}

/* End Banner 1 */

/* Start Banner 2 */

.banner-two {
  padding-bottom: var(--main-padding);
}

.banner-two .container {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .banner-two .container {
    flex-direction: column;
  }
}

@media (max-width: 431px) {
  .banner-two .container {
    padding: 0px 40px;
  }
}

.banner-two .container .box-one {
  background-image: url(../Images/Banner/b7.jpg);
}

.banner-two .container .box-two {
  background-image: url(../Images/Banner/b4.jpg);
}

.banner-two .container .box-three {
  background-image: url(../Images/Banner/b18.jpg);
}

.banner-two .container .box-one,
.banner-two .container .box-two,
.banner-two .container .box-three {
  background-size: cover;
  width: 32%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 25px;
  background-position: 70%;
}

@media (max-width: 768px) {
  .banner-two .container .box-one,
  .banner-two .container .box-two,
  .banner-two .container .box-three {
    width: 100%;
  }

  .banner-two .container .box-one,
  .banner-two .container .box-two {
    margin-bottom: 30px;
  }
}

.banner-two .container .box-one h2,
.banner-two .container .box-two h2,
.banner-two .container .box-three h2 {
  color: white;
  font-size: 30px;
  text-transform: uppercase;
}

.banner-two .container .box-two h2 {
  font-size: 28px;
}

.banner-two .container .box-one p,
.banner-two .container .box-two p,
.banner-two .container .box-three p {
  color: red;
}

/* End Banner 2 */

/* Start Sign Up */

.sign-up {
  padding: 50px 0;
  background-image: url(../Images/Banner/b14.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 20% 30%;
  background-color: #041e42;
}

@media (max-width: 431px) {
  .sign-up {
    width: 430px;
  }
}

@media (max-width: 391px) {
  .sign-up {
    width: 360px;
  }
}

.sign-up .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 431px) {
  .sign-up .container {
    width: 100%;
    padding: 0px 20px;
  }
}

.sign-up .container .text h2 {
  color: white;
  font-size: 30px;
}

.sign-up .container .text p {
  color: rgba(255, 255, 255, 0.3);
  font-weight: bold;
}

@media (max-width: 768px) {
  .sign-up .container .text h2 {
    font-size: 26px;
  }

  .sign-up .container .text p {
    font-size: 13px;
  }
}

@media (max-width: 431px) {
  .sign-up .container .text h2 {
    font-size: 16px;
  }

  .sign-up .container .text p {
    font-size: 10px;
  }
}

.sign-up .container .text p span {
  color: #ffc107;
}

.sign-up .container .form input[type="email"] {
  height: 60px;
  width: 70%;
  border-radius: 7px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding: 15px 25px;
  border: 1px solid transparent;
  outline: none;
}

.sign-up .container .form input[type="submit"] {
  border-radius: 7px;
  padding: 15px 35px;
  color: white;
  background-color: #088178;
  font-weight: bold;
  border: none;
  outline: none;
  transition: var(--main-transition);
  cursor: pointer;
}

@media (max-width: 431px) {
  .sign-up .container .form input[type="submit"] {
    padding: 10px 15px;
  }
}

.sign-up .container .form input[type="submit"]:hover {
  background-color: #006065;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: 7000;
}

.signup-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 4px;
  z-index: 7001;
  padding: 15px;
}

@media (max-width: 768px) {
  .signup-popup {
    width: 600px;
  }
}

@media (max-width: 431px) {
  .signup-popup {
    width: 370px;
  }
}

.signup-popup form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px auto 0;
  width: 500px;
}

.signup-popup form h2 {
  margin-bottom: 30px;
}

.signup-popup form label {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 22px;
  text-align: left;
}

.signup-popup form  input[type="text"],
.signup-popup form  input[type="email"],
.signup-popup form  input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  margin-bottom: 20px;
  border-radius: 7px;
}

.signup-popup form input[type="submit"] {
  background-color: #088178;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 50px;  
}

.signup-popup form input[type="submit"]:hover {
  background-color: rgb(0, 96, 101);
}

.signup-popup form .buttons {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup-closebtn {
  position: absolute;
  top: -20px;
  right: -20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding-top: 2px;
  text-align: center;
  border-radius: 50%;
  border: none;
  font-size: 25px;
  font-weight: bold;
  color: white;
  background-color: red;
  cursor: pointer;
}

/* End Sign Up */

/* Start Footer */

footer {
  padding: var(--main-padding) 0;
}

@media (max-width: 431px) {
  footer {
    width: 430px;
  }
}

@media (max-width: 391px) {
  footer {
    width: 360px;
  }
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1024px) {
  footer .container {
    flex-wrap: wrap;
  }
}

@media (max-width: 431px) {
  footer .container {
    flex-direction: column;
    text-align: center;
    width: 100%;
  }
}

footer .container h4 {
  margin: 20px 0;
  font-size: 22px;
}

footer .container .box-one {
  width: 28%;
}

@media (max-width: 1024px) {
  footer .container .box-one {
    width: 48%;
  }
}

@media (max-width: 768px) {
  footer .container .box-one {
    width: 52%;
  }
}

footer .container .box-one p:not(:last-child) {
  margin-bottom: 10px;
}

footer .container .box-one p span {
  font-weight: bold;
}

footer .container .box-one .follow-us .icons a {
  color: black;
  font-size: 20px;
}

footer .container .box-one .follow-us .icons a:not(:last-child) {
  margin-right: 5px;
}

footer .container .box-one .follow-us .icons a:nth-child(1):hover i {
  color: #1877f2;
}

footer .container .box-one .follow-us .icons a:nth-child(2):hover i {
  color: #1da1f2;
}

footer .container .box-one .follow-us .icons a:nth-child(3):hover i {
  color: #fa7e1e;
}

footer .container .box-one .follow-us .icons a:nth-child(4):hover i {
  color: #c8232c;
}

footer .container .box-one .follow-us .icons a:nth-child(5):hover i {
  color: red;
}

footer .container .box-two p:not(:last-child),
footer .container .box-three p:not(:last-child) {
  margin-bottom: 16px;
}

footer .container .box-two {
  width: 14%;
}

footer .container .box-three {
  width: 12%;
}

@media (max-width: 1024px) {
  footer .container .box-two {
    width: 48%;
  }

  footer .container .box-three {
    width: 20%;
  }
}

@media (max-width: 768px) {
  footer .container .box-two {
    width: 40%;
  }

  footer .container .box-three {
    width: 21%;
  }
}

footer .container .box-two a,
footer .container .box-three a {
  color: #465b52;
  transition: var(--main-transition);
}

footer .container .box-two a:hover,
footer .container .box-three a:hover {
  border-bottom: 1px solid #2f3b36;
}

footer .container .box-four {
  width: 30%;
}

@media (max-width: 1024px) {
  footer .container .box-four {
    width: 48%;
  }
}

@media (max-width: 768px) {
  footer .container .box-four {
    width: 58%;
  }
}

footer .container .box-four .install-images {
  margin: 15px 0;
}

footer .container .box-four .install-images img {
  border: 1px solid #088178;
  border-radius: 7px;
}

footer .container .box-four img {
  cursor: pointer;
}

footer .container .box-four img[alt="Pay Methods"] {
  margin-top: 15px;
}

@media (max-width: 431px) {
  footer .container .box-one,
  footer .container .box-two,
  footer .container .box-three,
  footer .container .box-four {
    width: 100%;
  }

  footer .container .box-one,
  footer .container .box-two,
  footer .container .box-three {
    margin-bottom: 15px;
  }

  footer .container .box-one img {
    margin-left: 55px;
  }

  footer .container .box-one p {
    display: flex;
    flex-direction: column;
  }

  footer .container .box-one span {
    margin-bottom: 5px;
  }
}

/* End Footer */

/* End Index.html */

/* Start Shop */

.hashtag {
  margin-top: 91.41px;
  background-image: url(../Images/Banner/b1.jpg);
  background-size: cover;
  height: 42vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hashtag h2 {
  color: white;
  margin-bottom: 15px;
}

.hashtag p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 22px;
}

.pagination-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.pagination-buttons button {
  width: 40px;
  height: 40px;
  line-height: 45px;
  border-radius: 7px;
  border: none;
  
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: var(--main-transition);
  background-color: transparent;
  color: black;
  border: 1px solid #088178;
}

.pagination-buttons button.active {
  background-color: #088178;
  color: white;
}

.pagination-buttons button:hover {
  background-color: #088178;
  color: white;
}

.pagination-buttons button:not(:last-child) {
  margin-right: 15px;
}

/* End Shop */

/* Start sProduct */

.product-details {
  margin: 170px 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 431px) {
  .product-details {
    width: 430px;
  }
}

@media (max-width: 391px) {
  .product-details {
    width: 360px;
  }
}

.product-details .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@media (max-width: 768px) {
  .product-details .container {
    flex-direction: column;
  }
}

.product-details .image-box {
  width: 35%;
}

@media (max-width: 768px) {
  .product-details .image-box {
    width: 100%;
    margin-bottom: 50px;
  }
}

.product-details .image-box .large-image img {
  width: 100%;
  cursor: pointer;
}

.product-details .image-box .small-images {
  display: flex;
  justify-content: space-between;
}

.product-details .image-box .small-images img {
  width: 24.25%;
  cursor: pointer;
}

.product-details .text-box {
  width: 60%;
}

@media (max-width: 768px) {
  .product-details .text-box {
    width: 100%;
    text-align: center;
  }
}

.product-details .text-box > p {
  font-weight: bold;
}

.product-details .text-box > h3 {
  margin: 30px 0;
  font-size: 30px;
}

.product-details .text-box h2 {
  font-size: 45px;
}

.product-details .text-box .form {
  margin: 20px 0 50px;
}

.product-details .text-box .form .select-options label {
  font-weight: bold;
}

.product-details .text-box .form .select-options select {
  width: 140px;
  padding: 7px;
}

.product-details .text-box .form .inputs {
  margin-top: 10px;
}

.product-details .text-box .form .inputs input {
  width: 50px;
  height: 50px;
  outline: none;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding-left: 12px;
}

.product-details .text-box .form .inputs button {
  padding: 15px 35px;
  border-radius: 7px;
  background-color: #088178;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border: none;
  outline: none;
  transition: var(--main-transition);
  cursor: pointer;
}

.product-details .text-box .form .inputs button:hover {
  background-color: #006065;
}

.product-details .text-box .item-details h3 {
  font-size: 30px;
  margin: 25px 0;
}

.product-details .text-box .item-details p {
  font-size: 23px;
  line-height: 1.6;
}

/* End sProduct */

/* Start Blog */

.blog {
  background-image: url(../Images/Banner/b19.jpg);
}

@media (max-width: 431px) {
  .blog {
    width: 430px;
  }
}

@media (max-width: 391px) {
  .blog {
    width: 360px;
  }
}

.blog p {
  color: white;
}

.blogs .container {
  margin: 130px 0 0;
}

@media (max-width: 431px) {
  .blogs {
    width: 430px;
  }
}

@media (max-width: 391px) {
  .blogs {
    width: 360px;
  }
}


.blogs .container .blog-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .blogs .container {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .blogs .container .blog-box {
    flex-direction: column;
  }
}

.blogs .container .blog-box:not(:last-child) {
  margin-bottom: 130px;
}

.blogs .container .blog-box .image {
  width: 40%;
  position: relative;
}

@media (max-width: 768px) {
  .blogs .container .blog-box .image {
    width: 100%;
    margin-bottom: 30px;
  }
}

.blogs .container .blog-box .image h2 {
  position: absolute;
  top: -35px;
  left: 0;
  z-index: -1;
  font-size: 90px;
  color: #c3c3c3;
}

.blogs .container .blog-box .image img {
  width: 100%;
}

.blogs .container .blog-box .text {
  width: 55%;
}

@media (max-width: 768px) {
  .blogs .container .blog-box .text {
    width: 100%;
    text-align: center;
  }
}

.blogs .container .blog-box .text h3 {
  font-size: 30px;
  margin-bottom: 15px;
}

.blogs .container .blog-box .text p {
  display: inline;
  font-size: 23px;
  line-height: 1.6;
}

.blogs .container .blog-box .text .dots { 
  color: #465b52;
  font-size: 23px;
  margin-left: -5px;
}

.blogs .container .blog-box .text .more {
  display: none;
}

.blogs .container .blog-box .text .blog-button {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

@media ((min-width: 768px) and (max-width: 1070px)) {
  .blogs .container .blog-box .text h3 {
    font-size: 25px;
  }

  .blogs .container .blog-box .text p {
    font-size: 20px;
    line-height: 1.3;
  }

  .blogs .container .blog-box .text .blog-button button {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  .blogs .container .blog-box .text .blog-button {
    justify-content: center;
  }
}

.blogs .container .blog-box .text .blog-button button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 25px;
  font-weight: 500;
  margin-right: 15px;
}

@media ((min-width: 769px) and (max-width: 1070px)) {
  .blogs .container .blog-box .text .blog-button button {
    font-size: 22px;
  }
}

.blogs .container .blog-box .text .blog-button span {
  width: 70px;
  height: 2px;
  background-color: black;
}

.blogs .blog-pagination-buttons {
  margin-bottom: 80px;
}

/* End Blog */

/* Start About */

.about {
  background-image: url(../Images/About/banner.png);
}

@media ((min-width: 769px) and (max-width: 1024px)) {
  .about {
    width: 1024px;
  }
}

@media (max-width: 431px) {
  .about {
    width: 430px;
  }
}

@media (max-width: 391px) {
  .about {
    width: 360px;
  }
}

.about-us {
  padding: var(--main-padding) 0;
}

@media (max-width: 431px) {
  .about-us {
    width: 430px;
  }
}

@media (max-width: 391px) {
  .about-us {
    width: 360px;
  }
}

.about-us .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .about-us .container {
    flex-direction: column;
    width: 100%;
  }
}

.about-us .container .image {
  width: 50%;
}

@media (max-width: 768px) {
  .about-us .container .image {
    width: 100%;
    margin-bottom: 30px;
  }
}

.about-us .container .image img {
  width: 100%;
}

.about-us .container .text {
  width: 45%;
}

@media (max-width: 768px) {
  .about-us .container .text {
    width: 100%;
    text-align: center;
  }
}

.about-us .container .text h2 {
  font-size: 60px;
}

@media (max-width: 431px) {
  .about-us .container .text h2 {
    font-size: 50px;
  }
}

.about-us .container .text p {
  line-height: 1.4;
  margin: 20px 0;
  font-size: 22px;
}

.about-us .container .text marquee {
  background-color: #464646;
  color: white;
  padding: 5px;
  font-size: 20px;
}

@media ((min-width: 769px) and (max-width: 1070px)) {
  .about-us .container .text h2 {
    font-size: 40px;
  }

  .about-us .container .text p {
    font-size: 18px;
  }

  .about-us .container .text marquee {
    padding: 2px;
    font-size: 18px;
  }
}

.download-app .container {
  text-align: center;
}

@media (max-width: 431px) {
  .download-app .container {
    padding: 0px 20px;
  }
}

.download-app .container h2 {
  margin-bottom: 35px;
  font-size: 70px;
}

@media (max-width: 431px) {
  .download-app .container h2 {
    font-size: 45px;
  }
}

.download-app .container video {
  width: 1000px;
  border-radius: 20px;
}

@media (max-width: 1170px) {
  .download-app .container video {
    width: 900px;
  }
}

@media (max-width: 1080px) {
  .download-app .container video {
    width: 800px;
  }
}

@media (max-width: 990px) {
  .download-app .container video {
    width: 700px;
  }
}

@media (max-width: 880px) {
  .download-app .container video {
    width: 600px;
  }

  .download-app .container h2 {
    font-size: 60px;
  }
}

@media (max-width: 768px) {
  .download-app .container video {
    width: 500px;
  }

  .download-app .container h2 {
    font-size: 50px;
  }
}

@media (max-width: 670px) {
  .download-app .container video {
    width: 450px;
  }

  .download-app .container h2 {
    font-size: 40px;
  }
}

@media (max-width: 620px) {
  .download-app .container video {
    width: 400px;
  }
}

@media (max-width: 580px) {
  .download-app .container video {
    width: 360px;
  }
}

@media (max-width: 500px) {
  .download-app .container video {
    width: 350px;
  }

  .download-app .container h2 {
    font-size: 30px;
  }
}

@media (max-width: 431px) {
  .download-app .container video {
      width: 270px;
  }
}

@media (max-width: 431px) {
  .download-app .container video {
    width: 330px;
  }
}

/* End About */

/* Start Contact */

.contact-us {
  padding: var(--main-padding) 0;
}

@media (max-width: 431px) {
  .contact-us {
    width: 430px;
  }
}

@media (max-width: 391px) {
  .contact-us {
    width: 360px;
  }
}

.contact-us .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .contact-us .container {
    flex-direction: column;
    width: 100%;
  }
}

.contact-us .container .text {
  width: 40%;
}

@media (max-width: 768px) {
  .contact-us .container .text {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
  }
}

.contact-us .container .text > p {
  text-transform: uppercase;
}

.contact-us .container .text h2 {
  font-size: 38px;
  margin: 22px 0;
  line-height: 1.1;
}

.contact-us .container .text h4 {
  margin-bottom: 20px;
  font-weight: 600;
}

.contact-us .container .text .icons div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-us .container .text .icons div:not(:last-child) {
  margin-bottom: 20px;
}

.contact-us .container .text .icons i {
  width: 5%;
}

.contact-us .container .text .icons p {
  width: 92%;
}

@media (max-width: 768px) {
  .contact-us .container .text .icons i {
    width: 20%;
  }

  .contact-us .container .text .icons p {
    width: 85%;
  }
}

.contact-us .container .map {
  width: 55%;
}

@media (max-width: 768px) {
  .contact-us .container .map {
    width: 100%;
  }
}

.contact-us .container .map iframe {
  width: 100%;
}

.members-list {
  padding: 40px 40px var(--main-padding);
}

@media (max-width: 431px) {
  .members-list {
    padding: 0 20px;
    width: 430px;
    margin-bottom: 60px;
  }
}

@media (max-width: 391px) {
  .members-list {
    width: 360px;
  }
}

.members-list .list-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
  border: 2px solid #ccc;
}

@media (max-width: 768px) {
  .members-list .list-container {
    flex-direction: column;
  }
}

@media (max-width: 431px) {
  .members-list .list-container {
    padding: 30px 20px;
  }
}

.members-list .list-container .form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 65%;
}

@media (max-width: 768px) {
  .members-list .list-container .form {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }
}

.members-list .list-container .form > p {
  text-transform: uppercase;
}

.members-list .list-container .form h2 {
  font-size: 40px;
  margin: 20px 0;
  font-weight: 600;
}

.members-list .list-container .form input,
.members-list .list-container .form textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 15px;
}

input:focus::placeholder,
.members-list .list-container .form textarea:focus::placeholder {
  transition: var(--main-transition);
  opacity: 0;
}

.members-list .list-container .form textarea {
  height: 200px;
}

.members-list .list-container .form button {
  width: fit-content;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 15px 35px;
  background-color: #088178;
  border-radius: 7px;
  border: none;
  outline: none;
  transition: var(--main-transition);
  cursor: pointer;
}

.members-list .list-container .form button:hover {
  background-color: rgb(0, 96, 101);
}

.members-list .list-container .reviews {
  width: 30%;
}

@media ((min-width: 769px) and (max-width: 1024px)) {
  .members-list .list-container .reviews {
    width: 33%;
  }
}

@media (max-width: 768px) {
  .members-list .list-container .reviews {
    width: 100%;
  }
}

.members-list .list-container .reviews .review-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border: 2px solid #ccc;
  padding: 20px 10px 10px;
}

.members-list .list-container .reviews .review-box:not(:last-child) {
  margin-bottom: 10px;
}

.members-list .list-container .reviews .review-box .image {
  width: 20%;
}

.members-list .list-container .reviews .review-box .image img {
  width: 100%;
  margin: -8px 0 0 0;
}

.members-list .list-container .reviews .review-box .info {
  width: 79%;
  
}

.members-list .list-container .reviews .review-box .info p {
  margin: 8px 0;
}

/* End Contact */

/* Start Cart */

.hashtag span {
  text-transform: uppercase;
}

.cart-details {
  padding: var(--main-padding) 0;
}

@media (max-width: 431px) {
  .cart-details {
    width: 430px;
  }
}

@media (max-width: 391px) {
  .cart-details {
    width: 360px;
  }
}

@media (max-width: 431px) {
  .cart-details .container {
    width: 100%;
    padding: 0px 5px;
  }
}

.cart-details .container h2 {
  text-align: center;
  margin-top: 30px;
}

@media (max-width: 431px) {
  .cart-details .container h2 {
    font-size: 31px;
  }
}

.cart-details .container table {
  width: 100%;
  text-align: center;
}

@media (max-width: 431px) {
  .cart-details .container table {
    width: 100%;
  }
}

.cart-details .container table thead {
  background-color: #088178;
  color: white;
}

.cart-details .container table thead tr th {
  font-size: 20px;
  text-transform: uppercase;
  padding: 20px;
}

@media (max-width: 768px) {
  .cart-details .container table thead tr th {
    font-size: 13px;
  }
}

@media (max-width: 431px) {
  .cart-details .container table thead tr th {
    font-size: 12px;
    padding: 15px 8px;
  }
}

@media (max-width: 391px) {
  .cart-details .container table thead tr th {
    font-size: 10px;
    padding: 13px 7px;
  }
}

.cart-details .container table tbody img {
  width: 100px;
}

@media (max-width: 768px) {
  .cart-details .container table tbody img {
    width: 60px;
  }
}

@media (max-width: 431px) {
  .cart-details .container table tbody img {
    width: 50px;
  }
}

.cart-details .container table tbody td:nth-child(2) {
  font-size: 25px;
}

.cart-details .container table tbody td:nth-child(3) {
  font-size: 25px;
}

.cart-details .container table tbody td:nth-child(4) input {
  width: 70px;
  padding: 10px 5px 10px 15px;
}

@media (max-width: 768px) {
  .cart-details .container table tbody td:nth-child(4) input {
    width: 55px;
    padding: 8px 3px 8px 13px;
  }
}

.cart-details .container table tbody td:nth-child(5) {
  font-weight: bold;
  font-size: 25px;
}

.cart-details .container table tbody td:nth-child(6) button {
  font-weight: bold;
  font-size: 20px;
  border-radius: 7px;
  padding: 10px 15px;
  color: white;
  background-color: red;
  font-weight: bold;
  border: none;
  outline: none;
  transition: var(--main-transition);
  cursor: pointer;
}

@media (max-width: 768px) {
  .cart-details .container table tbody td:nth-child(6) button {
    padding: 6px 9px;
  }
}

.cart-details .container table tbody td:nth-child(6) button:hover {
  background-color: rgb(155, 0, 0);
}

@media (max-width: 768px) {
  .cart-details .container table tbody td:nth-child(2),
  .cart-details .container table tbody td:nth-child(3),
  .cart-details .container table tbody td:nth-child(5),
  .cart-details .container table tbody td:nth-child(6) button {
    font-size: 17px;
  }
}

@media (max-width: 431px) {
  .cart-details .container table tbody td:nth-child(2),
  .cart-details .container table tbody td:nth-child(3),
  .cart-details .container table tbody td:nth-child(5),
  .cart-details .container table tbody td:nth-child(6) button {
    font-size: 12px;
  }

  .cart-details .container table tbody td:nth-child(4) input {
    width: 35px;
    padding: 5px 1px 5px 10px;
  }

  .cart-details .container table tbody td:nth-child(6) button {
    padding: 3px 6px;
  }

  .cart-details .container table tfoot td:nth-child(1),
  .cart-details .container table tfoot td:nth-child(2) {
    font-size: 17px;
  }
}

.cart-details .container table td {
  padding: 10px;
}

.cart-details .container table tfoot {
  background-color: #088178;
  color: white;
}

.cart-details .container table tfoot td {
  padding: 20px;
}

.cart-details .container table tfoot td:nth-child(1) {
  font-weight: bold;
  font-size: 25px;
}

.cart-details .container table tfoot td:nth-child(2) {
  font-weight: bold;
  font-size: 25px;
}

@media (max-width: 768px) {
  .cart-details .container table tfoot td:nth-child(1),
  .cart-details .container table tfoot td:nth-child(2) {
    font-size: 20px;
  }
}

/* End Cart */

/* Start Grid System */

@media (min-width: 1101px) {
  .close {
    display: none;
    cursor: pointer;
  }
}

@media (max-width: 1024px) {
  .shop {
    background-position: 15%;
  }
}

@media (max-width: 431px) {
  .shop {
    width: 430px;
  }

  .contact {
    width: 430px;
  }
}

@media (max-width: 391px) {
  .shop {
    width: 360px;
  }

  .contact {
    width: 360px;
  }
}

/* End Grid System */
